// Blue variables
//

/*$theme: hsl(238deg 76% 94%);
$primary: hsl(238deg 76% 50%);
$white: #fff;
$gray-100: hsl(238deg 17% 90%);
$gray-200: hsl(238deg 16% 93%);
$gray-300: hsl(238deg 14% 89%);
$gray-400: hsl(238deg 14% 83%);
$gray-500: hsl(238deg 11% 71%);
$gray-600: hsl(238deg 7% 46%);
$gray-700: hsl(238deg 9% 31%);
$gray-800: hsl(238deg 10% 23%);
$gray-900: hsl(238deg 11% 15%);
$black: #000;
$header-color: $gray-900;
$sidebar-color: $gray-900;*/

@import "node_modules/blue-web/dist/style";
@import "node_modules/blue-web/dist/neu";

/*.blue-menu-item-icon {
    @extend .text-primary;
}*/

.md-block {
    display: contents;
}

.md-block h1,
.md-block h2,
.docgen h2 {
    @extend .page-header;
}

.md-block h3 {
    @extend .mt-4, .mb-3;
}

.example {
    @extend .rounded-top-5, .border, .p-1;
    border-radius: calc(var(--bs-border-radius) + .25rem);
}

.example-demo {
    @extend .p-3;
}

.example-iframe {
    width: 100%;
    overflow: auto;
    resize: both;
}

.example-code {
    @extend .border, .rounded, .bg-light;
}

.example-code summary {
    cursor: pointer;
    padding: 0.7rem 1rem;
}

.example-code pre {
    margin: 0;
}

pre {
    @extend .rounded;
}

.docs-layout {
    .router-page {
        all: unset;
    }

    .blue-page {
        padding-top: 3.5rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

body:has(.docs-layout) {
    overflow: initial;
}

@import "docs-nav";
