<DialogOpener>
    <ToggleContent><Button Label="Show Modal" /></ToggleContent>
    <DialogContent>
        <ModalDialog TitleText="Modal Title">
            <BodyContent>
                <p>Modal body content</p>
            </BodyContent>
        </ModalDialog>
    </DialogContent>
</DialogOpener>