@using BlueBlazor.Shared

<DialogOpener>
    <ToggleContent><Button Label="➡️ Show offcanvas from start" /></ToggleContent>
    <DialogContent>
        <OffcanvasDialog TitleText="Offcanvas Title" Placement="OffcanvasPlacement.Start">
            <BodyContent>
                <p>Offcanvas body content</p>
            </BodyContent>
        </OffcanvasDialog>
    </DialogContent>
</DialogOpener>

<DialogOpener>
    <ToggleContent><Button Label="⬅️ Show offcanvas from end" /></ToggleContent>
    <DialogContent>
        <OffcanvasDialog TitleText="Offcanvas Title" Placement="OffcanvasPlacement.End">
            <BodyContent>
                <p>Offcanvas body content</p>
            </BodyContent>
        </OffcanvasDialog>
    </DialogContent>
</DialogOpener>

<DialogOpener>
    <ToggleContent><Button Label="⬇️ Show offcanvas from top" /></ToggleContent>
    <DialogContent>
        <OffcanvasDialog TitleText="Offcanvas Title" Placement="OffcanvasPlacement.Top">
            <BodyContent>
                <p>Offcanvas body content</p>
            </BodyContent>
        </OffcanvasDialog>
    </DialogContent>
</DialogOpener>

<DialogOpener>
    <ToggleContent><Button Label="⬆️ Show offcanvas from bottom" /></ToggleContent>
    <DialogContent>
        <OffcanvasDialog TitleText="Offcanvas Title" Placement="OffcanvasPlacement.Bottom">
            <BodyContent>
                <p>Offcanvas body content</p>
            </BodyContent>
        </OffcanvasDialog>
    </DialogContent>
</DialogOpener>