.blue-actions {
    --max-width: calc(
        var(--bs-btn-border-width, 1px) + var(--bs-btn-padding-x, 0.75rem) + var(--bs-btn-font-size, 1rem) +
            var(--bs-btn-padding-x, 0.75rem) + var(--bs-btn-border-width, 1px)
    );

    max-height: $normal-size;
    overflow: hidden;

    .blue-actions-menu {
        max-width: var(--max-width);
        & > .blue-menu-item-wrapper {
            display: block;
            position: relative;
        }
    }

    &.open {
        left: 0;
        right: 0;
        top: 0;
        background-color: var(--blue-menu-item-dropdown-bg);
    }

    &.none {
        @include actions(0px);
    }

    &.sm {
        @include actions(768px);
    }

    &.md {
        @include actions(992px);
    }

    &.lg {
        @include actions(1200px);
    }

    // Support for MenuItems
    .blue-menu-item {
        width: auto;

        &.active::after {
            @include blue-menu-item-indicator-horizontal();
        }
    }

    .blue-menu-item-dropdown-toggle .blue-menu-item-label {
        margin-right: 0.5rem;
    }

    .blue-menu-item-label,
    .blue-menu-item-dropdown-caret.blue-caret {
        display: initial;
    }
}
