// Extending `.icon-link > .bi` by Bootstrap to allow wrapped icons.

.blue-btn-icon-wrapper {
    display: contents;

    & > * {
        flex-shrink: 0;
        @include transition($icon-link-icon-transition);
    }
    & > svg {
        width: $icon-link-icon-size;
        height: $icon-link-icon-size;
        fill: currentcolor;
    }
}

.icon-link-hover {
    &:hover,
    &:focus-visible {
        .blue-btn-icon-wrapper > * {
            transform: var(--#{$prefix}icon-link-transform, $icon-link-icon-transform);
        }
    }
}

.blue-btn-square {
    padding: calc(var(--bs-btn-padding-y) + #{$icon-link-underline-offset});
}
