// Collapse with details and animated
.blue-collapse {
    interpolate-size: allow-keywords;

    summary {
        list-style: none;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    .blue-collapse-chevron {
        transition: transform 0.2s;
    }

    &[open] > summary .blue-collapse-chevron {
        --blue-collapse-chevron-rotate: 90deg;
        transform: rotate(var(--blue-collapse-chevron-rotate));
    }

    &::details-content {
        block-size: 0;
        opacity: 0;
        translate: 0 -4rem;
        transition:
            block-size 0.2s,
            content-visibility 0.2s,
            opacity 0.2s,
            translate 0.2s;
        transition-behavior: allow-discrete;
    }

    &[open]::details-content {
        block-size: auto;
        opacity: 1;
        translate: 0;
    }
}

@media (prefers-reduced-motion) {
    .blue-collapse .blue-collapse-chevron,
    .blue-collapse::details-content {
        transition: none;
    }
}

.blue-collapse-indent {
    // 0.5em is half of icon width
    --margin-inline-start: calc(#{$input-btn-padding-x} + 0.5em + #{$input-btn-border-width});
    margin-inline-start: var(--margin-inline-start);
}

// Let's you group a collapse together with another UI element like a button that should come before the collapse summary.
.blue-collapse-group {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: minmax(0, 1fr);
    max-width: 100%;

    & > details {
        display: contents;

        & > summary {
            grid-column: 2;

            & + * {
                width: calc(100% + var(--margin-inline-start) - 3px);
            }
        }
    }
}
