/* Make DevExpress components look more like Bootstrap/Blue */
[class^="dxbl-"] {
    --dxbl-text-edit-border-radius: var(--bs-border-radius) !important;
    --dxbl-text-edit-padding-x: 0.75rem !important;
    --dxbl-text-edit-padding-y: 0.375rem !important;
    --dxbl-text-edit-line-height: 1.5 !important;
    --dxbl-text-edit-focus-shadow-spread: 0.25rem !important;
    --dxbl-listbox-border-radius: var(--bs-border-radius) !important;
    --dxbl-toolbar-font-size: var(--bs-body-font-size) !important;
    --dxbl-toolbar-btn-border-radius: var(--bs-border-radius) !important;
    --dxbl-dropdown-border-radius: var(--bs-border-radius) !important;
    --dxbl-btn-border-radius: var(--bs-border-radius) !important;
    --dxbl-context-menu-border-radius: var(--bs-border-radius) !important;
    --dxbl-btn-padding-x: 0.75rem !important;
    --dxbl-btn-padding-y: 0.375rem !important;

    --dxbl-btn-font-size: 1rem;
    --dxbl-checkbox-font-size: 1rem;
    --dxbl-calendar-font-size: 1rem;
    --dxbl-listbox-font-size: 1rem;
    --dxbl-list-box-font-size: 1rem;
    --dxbl-list-box-item-drag-hint-font-size: 1rem;
    --dxbl-color-palette-font-size: 1rem;
    --dxbl-text-edit-font-size: 1rem;
    --dxbl-edit-dropdown-font-size: 1rem;
    --dxbl-pager-font-size: 1rem;
    --dxbl-grid-font-size: 1rem;
    --dxbl-grid-draggable-header-font-size: 1rem;
    --dxbl-grid-row-drag-hint-font-size: 1rem;
    --dxbl-flyout-font-size: 1rem;
    --dxbl-popup-font-size: 1rem;
    --dxbl-dropdown-font-size: 1rem;
    --dxbl-window-font-size: 1rem;
    --dxbl-group-font-size: 1rem;
    --dxbl-fl-font-size: 1rem;
    --dxbl-fl-group-font-size: 1rem;
    --dxbl-fl-tab-group-font-size: 1rem;
    --dxbl-fl-tab-group-content-font-size: 1rem;
    --dxbl-toolbar-font-size: 1rem;
    --dxbl-tabs-font-size: 1rem;
    --dxbl-tabs-content-font-size: 1rem;
    --dxbl-accordion-group-font-size: 1rem;
    --dxbl-accordion-group-item-font-size: 1rem;
    --dxbl-accordion-group-header-font-size: 1rem;
    --dxbl-treeview-font-size: 1rem;
    --dxbl-navigation-badge-font-size: 1rem;
    --dxbl-radio-group-font-size: 1rem;
    --dxbl-context-menu-font-size: 1rem;
    --dxbl-menu-item-font-size: 1rem;
    --dxbl-scheduler-font-size: 1rem;
    --dxbl-toast-text-font-size: 1rem;
    --dxbl-toast-header-font-size: 1rem;
    --dxbl-drawer-panel-font-size: 1rem;
    --dxbl-progress-bar-label-font-size: 1rem;
    --dxbl-pivot-font-size: 1rem;
    --dxbl-pivot-field-font-size: 1rem;
    --dxbl-pivot-header-font-size: 1rem;
    --dxbl-pivot-total-font-size: 1rem;
    --dxbl-pivot-table-font-size: 1rem;
    --dxbl-pivot-table-header-field-font-size: 1rem;
    --dxbl-pivot-table-row-field-font-size: 1rem;
    --dxbl-pivot-table-total-font-size: 1rem;
    --dx-chatui-message-font-size: 1rem;
    --dx-chatui-suggestion-item-title-font-size: 1rem;
    --dx-chatui-attachment-list-item-font-size: 1rem;
    --dx-chatui-suggestion-item-text-font-size: 1rem;
    --dxbl-message-box-body-text-font-size: 1rem;
    --dxbl-message-box-header-font-size: 1rem;
    --dxbl-splitter-font-size: 1rem;
    --dxbl-filter-builder-font-size: 1rem;
}

.dxbl-grid {
    --dxbl-grid-font-size: 1rem;
    border: none;
}

.dxbl-pager-page-edit {
    min-width: 2.5em;
}

.dxbl-toolbar {
    --dxbl-toolbar-font-size: var(--bs-body-font-size) !important;
    font-size: var(--dxbl-toolbar-font-size);
}

body.modal-open .dxbl-popup-cell[style="z-index: 1050;"] {
    z-index: 1056 !important;
}

@if ($enable-button-pointers: false) {
    .dxbl-context-menu.dxbl-context-menu-dropdown
        > .dxbl-dropdown-body
        ul
        li:not(.dxbl-context-menu-separator)
        > .dxbl-context-menu-item,
    .dxbl-context-menu-submenu.dxbl-context-menu-dropdown
        > .dxbl-dropdown-body
        ul
        li:not(.dxbl-context-menu-separator)
        > .dxbl-context-menu-item {
        cursor: default;
    }
}
