.blue-halo {
    transition:
        width 0.5s,
        background-color 0.3s,
        color 0.15s,
        box-shadow 0.3s,
        opacity 0.3s !important;

    @media (prefers-reduced-motion) {
        transition: none !important;
    }

    &:focus-visible {
        &,
        &.active {
            box-shadow: inset 0 0 0 0.25rem color-mix(in srgb, currentColor 15%, transparent);
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0.125rem;
        right: 0.125rem;
        bottom: 0.125rem;
        left: 0.125rem;
        background-color: currentColor;
        border-radius: $border-radius;
        transform: scale(0.9);
        opacity: 0;
        transition: all 0.2s;

        @media (prefers-reduced-motion) {
            transition: none;
        }
    }

    &:hover,
    &:active,
    &.highlighted,
    &:has(+ :popover-open) {
        color: inherit;
        border-color: transparent;

        &::before {
            transform: scale(1);
            opacity: 0.25;
        }
    }

    &.highlighted,
    &:has(+ :popover-open) {
        &::before {
            opacity: 0.16;
        }
    }

    &:hover,
    &:active {
        &::before {
            opacity: 0.25;
        }
    }
}
