/**
 * The new approach for a global layout with a sidebar, header and main content.
 */

.blue-layout {
    --spacing: 0.5rem;

    --blue-menu-item-indicator-bg: #{color-contrast($sidebar-bg, $sidebar-indicator-color)};
    --bs-link-hover-color: #{color-contrast($sidebar-bg, $link-hover-color)};

    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: min-content 1fr;
    grid-template-areas: "header header" "side main";
    height: 100dvh;
    color: var(--blue-sidebar-color);
    background-color: var(--blue-sidebar-bg);
}

@include color-mode(dark, false) {
    .blue-layout {
        --blue-menu-item-indicator-bg: #{$sidebar-indicator-color-dark};
        --bs-link-hover-color: #{color-contrast($sidebar-bg, $link-hover-color-dark)};
    }
}

.blue-layout-header {
    grid-area: header;
    display: flex;
    align-items: center;
    height: var(--blue-header-height);
    gap: var(--spacing);
    padding-inline: var(--spacing);
    width: env(titlebar-area-width);
}

.blue-layout-side {
    grid-area: side;
    overflow: auto;
    background: inherit;
    scrollbar-color: transparent transparent;

    &:hover,
    &:focus-within {
        scrollbar-color: color-mix(in srgb, currentColor 50%, transparent) transparent;
    }

    &.with-transition {
        interpolate-size: allow-keywords;
        transition:
            width 0.2s ease-in-out,
            display 0.2s ease-in-out allow-discrete;
    }
}

@media (prefers-reduced-motion: reduce) {
    .blue-layout-side.with-transition {
        transition: none;
    }
}

.blue-layout-side-body {
    min-width: var(--blue-sidebar-width);

    &:not(:is(dialog[open] .blue-layout-side-body)) {
        padding-inline-start: var(--spacing);
    }
}

@starting-style {
    .blue-layout-side {
        width: 0;
    }
}

.blue-layout-main {
    overflow: auto;
    grid-area: main;
}

.blue-layout-body {
    @include blue-layout-body(rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity, 1)));
}

.blue-layout-splitter {
    height: 100%;

    // Set styles for sp-split-view
    &:is(sp-split-view) {
        --mod-splitview-handle-background-color: transparent;
        --mod-splitview-handle-background-color-down: var(--bs-primary-text-emphasis);
        --mod-splitview-handle-background-color-hover: var(--bs-gray-400);
        --mod-splitview-handle-background-color-key-focus: var(--bs-gray-300);
        --mod-splitview-handle-background-color-mouse-focus: var(--bs-gray-300);
        --mod-splitview-handle-width: 6px;
        --mod-splitview-handle-height: 6px;
        --mod-splitview-gripper-width: 0;
        --mod-splitview-gripper-border-width-vertical: 0;
        --mod-splitview-gripper-border-width-horizontal: 0;

        @media (prefers-color-scheme: dark) {
            & {
                --mod-splitview-handle-background-color: transparent;
                --mod-splitview-handle-background-color-down: var(--bs-primary-text-emphasis);
                --mod-splitview-handle-background-color-hover: var(--bs-gray-600);
                --mod-splitview-handle-background-color-key-focus: var(--bs-gray-700);
                --mod-splitview-handle-background-color-mouse-focus: var(--bs-gray-700);
            }
        }

        &:not([resizable]) {
            & > *:first-child {
                width: 100%;
                height: 100%;
            }
            & > *:last-child {
                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
        }
    }

    .blue-layout-body,
    .blue-layout-inspector-body {
        width: calc(100% - var(--spacing));
    }

    & > :first-child .blue-layout-body {
        margin-right: 0;
    }

    & > :last-child .blue-layout-inspector-body {
        margin-left: 0;
    }
}

.blue-layout-inspector {
    &:not([open]) {
        & > .offcanvas {
            width: 100%;
        }
    }
}

.blue-layout-inspector-body {
    width: 100%;
    height: 100%;
}

@include media-breakpoint-up(lg) {
    .blue-layout-inspector-body {
        @include blue-layout-body(rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity, 1)));
    }
}
