.blue-header-title {
    a {
        color: inherit;

        &:focus {
            text-decoration: none;
        }
    }
}

.blue-header-title-image {
    width: var(--blue-header-title-image-width, var(--blue-header-title-image-size, auto));
    height: var(--blue-header-title-image-height, var(--blue-header-title-image-size, 2rem));
}
