<CreateId Context="id">
    <label for="@id">Fruit</label>
    <Combobox id="@id">
        <ComboboxOption Value="Apple"/>
        <ComboboxOption Value="Banana"/>
        <ComboboxOption Value="Cherry"/>
        <ComboboxOption Value="Date"/>
        <ComboboxOption Value="Elderberry"/>
        <ComboboxOption Value="Fig"/>
        <ComboboxOption Value="Grape"/>
        <ComboboxOption Value="Honeydew"/>
    </Combobox>
</CreateId>