@inherits LayoutComponentBase

<nav class="docs-nav">
    <a class="navbar-brand" href="">
        <img src="images/blue.svg" alt="Blue Logo" width="32" height="32" class="d-inline-block" /> Blue Blazor
    </a>

    <div class="navbar-nav">
        <a href="https://bruegmann.github.io/blue-web" class="nav-link">
            Web
        </a>
        <a href="https://bruegmann.github.io/blue-react" class="nav-link">
            React
        </a>
        <a href="https://bruegmann.github.io/blue-blazor"
           class="nav-link active"
           aria-current="page">
            Blazor
        </a>
    </div>
</nav>

<Layout DisableHeaders Class="docs-layout">
    <SideContent>
        <NavMenu />
    </SideContent>

    <PageContent>
        @Body
    </PageContent>
</Layout>