@inherits LayoutComponentBase

<nav class="docs-nav">
    <a class="navbar-brand" href="">
        <img src="images/blue.svg" alt="Blue Logo" width="32" height="32" class="d-inline-block" /> Blue Blazor
    </a>

    <div class="navbar-nav">
        <a href="https://bruegmann.github.io/blue-web" class="nav-link">
            Web
        </a>
        <a href="https://bruegmann.github.io/blue-react" class="nav-link">
            React
        </a>
        <a href="https://bruegmann.github.io/blue-blazor"
           class="nav-link active"
           aria-current="page">
            Blazor
        </a>
    </div>
</nav>

<div style="height: 100dvh;">
    <side-layout style="--base-z-index: 500">
        <div slot="expand-toggler" class="w-100 h-100 p-1">
            <div class="btn blue-btn-plain-primary w-100 h-100">
                <BiLayoutSidebar />
            </div>
        </div>
        <div slot="drawer-toggler" class="w-100 h-100 p-1">
            <div class="btn blue-btn-plain-primary w-100 h-100">
                <BiLayoutSidebarInset />
            </div>
        </div>
        <div slot="overlay"
             class="bg-dark w-100 h-100"
             style="--bs-bg-opacity: 0.5;"></div>
        <header slot="header" class="d-flex justify-content-end">
            <MenuItem Label="Code on GitHub" Href="https://github.com/bruegmann/blue-blazor" Target="_blank" Class="w-auto">
                <Icon>
                    <BiCodeSquare />
                </Icon>
            </MenuItem>
        </header>
        <NavMenu />
        <div class="w-100 h-100 p-1">
            <div class="w-100 h-100 overflow-auto rounded border p-4 bg-body">
                @Body
            </div>
        </div>
    </side-layout>
</div>