@inherits LayoutComponentBase

<nav class="docs-nav navbar navbar-expand navbar-dark bg-dark shadow-lg position-fixed top-0 rounded-4 py-0 mt-1">
    <div class="container-fluid px-1">
        <a class="navbar-brand d-flex gap-2" href="">
            <img src="images/blue.svg" alt="Blue Logo" width="32" height="32" class="d-inline-block" /> Blue Blazor
        </a>

        <div class="navbar-nav flex-grow-1">
            <a href="https://bruegmann.github.io/blue-web" class="nav-link">
                Web
            </a>
            <a href="https://bruegmann.github.io/blue-react" class="nav-link">
                React
            </a>
        </div>
    </div>
</nav>

<Layout DisableHeaders Class="docs-layout">
    <SideContent>
        <NavMenu />
    </SideContent>

    <PageContent>
        @Body
    </PageContent>
</Layout>