<CreateId>
    <ChildContent Context="id">
        <label for="@id" class="form-label">Email address</label>
        <input type="email" class="form-control" id="@id" placeholder="name@example.com">
    </ChildContent>
</CreateId>