@{/*docs { "description": "By default field group headings will have the role and the style of a `h2`. You can customize it or even disable to have a heading role." } */}

<FieldGroup Header="This is a H3 heading" Heading="3">
    <p>This field group has a heading with role and style of H3.</p>
</FieldGroup>

<FieldGroup Header="This is not of role heading" Heading="null">
    <p>This field group </p>
</FieldGroup>