@namespace BlueBlazor.Components
@using BlueBlazor.Internals.LayoutParts

<div class="vh-100 d-grid" style="grid-template-rows: var(--blue-menu-item-height) auto">
    <LayoutHeader slot="header">@HeaderContent</LayoutHeader>
    <LayoutMain NoPageBorder="@NoPageBorder" Class="overflow-auto">@PageContent</LayoutMain>
</div>