@namespace BlueBlazor.Components
@inherits BlueComponentBase

<div class="@(new CssBuilder("blue-layout").AddClass(Class).Build())" style="@Style" @attributes="AdditionalAttributes">
    <header class="blue-layout-header">
        @HeaderContent
    </header>
    <main class="blue-layout-main">
        <div class="@(new CssBuilder("blue-layout-body").AddClass("border-0", NoPageBorder).Build())">
            @PageContent
        </div>
    </main>
</div>