<DialogOpener>
    <ToggleContent><Button Label="Show offcanvas" /></ToggleContent>
    <DialogContent>
        <OffcanvasDialog TitleText="Offcanvas Title">
            <BodyContent>
                <p>Offcanvas body content</p>
            </BodyContent>
        </OffcanvasDialog>
    </DialogContent>
</DialogOpener>