<Button Label="Hover me" Tooltip="Hello, this is a tooltip as string." />

<Button Label="Hover me">
    <TooltipContent>
        <strong>Or using <code>TooltipContent</code> fragment with custom content.</strong>
    </TooltipContent>
</Button>