@{
        /*docs {
        "description": "Using the render fragments `IconBefore` or `IconBeforeAfter` will automatically set the [Bootstrap helper `icon-link`.](https://getbootstrap.com/docs/5.3/helpers/icon-link/#example)"
    } */
}

<Button Label="No icon" />

<Button Label="Let's have an icon">
    <IconBefore>
        <BiBox2Heart />
    </IconBefore>
</Button>

<Button Label="Animate on hover" Class="icon-link-hover">
    <IconBeforeAfter>
        <BiArrowRight />
    </IconBeforeAfter>
</Button>

<Button Label="Custom hover transform" Class="icon-link-hover" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0);">
    <IconBefore>
        <BiClipboard />
    </IconBefore>
</Button>

<Button Label="Emoji as icon" Class="icon-link-hover">
    <IconBeforeAfter>
        <span>➡️</span>
    </IconBeforeAfter>
</Button>