@foreach (var item in items)
{
    <div class="d-flex gap-2 mb-3">
        <TextInput Label="@item.Label" Floating @bind-Value="item.Value" />
        <Button Label="Delete" OnClick="() => items.Remove(item)" />
        Value: @item.Value
    </div>
}

@code {
    List<Item> items = new (){ 
        new () { Label = "Label for item 1", Value = "Item 1" },
        new () { Label = "Label for item 2", Value = "Item 2" },
        new () { Label = "Label for item 3", Value = "Item 3" }
    };

    class Item {
        public string Label { get; set; } = "";
        public string Value { get; set; } = "";
    }
}
