<div class="blue-input-group input-group">
    <TextInput Label="Search" LabelHidden LabelClass="input-group-text">
        <ButtonContent><BiSearch aria-hidden="true" /></ButtonContent>
    </TextInput>
</div>