<div class="blue-input-group input-group">
    <TextInput Label="Search" LabelHidden LabelClass="input-group-text">
        <AfterLabelContent><BiSearch aria-hidden="true" /></AfterLabelContent>
    </TextInput>
</div>