@namespace BlueBlazor.Components

<div class="bg-body position-sticky top-0 border-bottom d-flex justify-content-between @Class"
    style="--bs-bg-opacity: 1; --blue-menu-item-dropdown-bg: rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity)); z-index: var(--blue-header-z-index, 3);">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Class { get; set; }
}
