dialog {
    border: none;
    background: none;
}

dialog[open] {
    display: block;
}

    dialog::backdrop {
        --bs-backdrop-bg: #000;
        --bs-backdrop-opacity: 0.5;
        background-color: var(--bs-backdrop-bg);
        opacity: var(--bs-backdrop-opacity);
    }

.blue-blazor-modal-backdrop {
    color: #0000;
    z-index: -1;
    grid-row-start: 1;
    grid-column-start: 1;
    place-self: stretch stretch;
    display: grid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.blue-blazor-modal-backdrop > button {
    opacity: 0;
    cursor: default;
}