@namespace BlueBlazor.Components

<div class="blue-intro">
    <div class="blue-intro-container mx-1">
        <div class="bg-body rounded-3 shadow-lg px-4 py-5">
            <div class="text-center">
                @if (Logo != null)
                {
                    <img class="blue-intro-image" style="max-width: @LogoMaxWidth;" src="@Logo" alt="@LogoAlt" />
                }
                @LogoContent?.Invoke(this)
                <Heading Class="h2 mt-4 mb-3">@Title</Heading>
            </div>

            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Logo { get; set; }

    [Parameter]
    public string LogoAlt { get; set; } = "Logo";

    [Parameter]
    public RenderFragment<Intro>? LogoContent { get; set; }

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string LogoMaxWidth { get; set; } = "100px";
}