.shake {
    animation: shakeEffect 0.4s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@media (prefers-reduced-motion: reduce) {
    .shake {
        animation: none;
    }
}

@keyframes shakeEffect {
    10%, 90% {
        transform: translate3d(-3px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(5px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-10px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(10px, 0, 0);
    }
}

.skip-init-animation {
    animation: none;
}