@namespace BlueBlazor.Components

<div class="sign-in-screen">
    <div class="sign-in-container mx-1">
        <div class="bg-body rounded-3 shadow-lg px-4 py-5">
            <div class="text-center">
                @if (Logo != null)
                {
                    <img style="max-width: @LogoMaxWidth;" src="@Logo" alt="@LogoAlt" />
                }
                <h1 class="h2 mt-4 mb-3">@Title</h1>
            </div>

            @ChildContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Logo { get; set; }

    [Parameter]
    public string LogoAlt { get; set; } = "Logo";

    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public string LogoMaxWidth { get; set; } = "100px";
}