@namespace BlueBlazor.Components
@inherits BlueComponentBase

<div @ref="_element" id="@Id" popover class="@ClassValue" style="@Style" @onpopovertoggle="HandlePopoverToggle" @attributes="AdditionalAttributes">
    <div class="vstack">
        @ChildContent
    </div>
</div>