@namespace BlueBlazor.Components
@inherits BlueComponentBase

<div id="@Id" popover class="@ClassValue" style="@Style" @attributes="AdditionalAttributes">
    <div class="vstack">
        @ChildContent
    </div>
</div>