.blue-sidebar-state {
    &.open {
        @include openSidebarMenu();

        .blue-menu-item {
            width: $bla-sidebar-width;
            max-width: 100%;
        }

        .blue-menu-item {
            & > * {
                width: auto;
            }
        }
    }

    &:not(.open) {
        .blue-sidebar-visible-on-open,
        .blue-sidebar-d-flex-on-open,
        .blue-sidebar-d-block-on-open {
            display: none !important;
        }

        .blue-sidebar-hidden-on-open {
            animation: fade-in 1s;

            @media (prefers-reduced-motion) {
                animation-duration: 0s;
            }
        }
    }
}

@keyframes blue-menu-item-dropdown-from-start {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
}

.blue-menu-item-dropdown-from-start {
    animation: blue-menu-item-dropdown-from-start 0.15s;

    @media (prefers-reduced-motion) {
        animation-duration: 0s;
    }
}

.blue-sidebar {
    .blue-menu-item-label {
        display: none;
        max-height: 100%;
    }
}
