.blue-actions {
    --max-width: calc(
        var(--bs-btn-border-width, 1px) + var(--bs-btn-padding-x, 0.75rem) +
            (var(--bs-btn-font-size, 1rem) * var(--bs-btn-line-height, 1.5)) + var(--bs-btn-padding-x, 0.75rem) +
            var(--bs-btn-border-width, 1px)
    );

    display: inline;
    left: 0;
    right: 0;
    top: 0;
    padding: 0;
    max-height: $normal-size;
    overflow: hidden;

    .blue-actions-menu {
        max-width: var(--max-width);
        & > .blue-menu-item-wrapper {
            display: block;
            position: relative;
        }
    }

    &.open {
        background-color: var(--blue-menu-item-dropdown-bg);
    }

    &.none {
        @include actions(0px);
    }

    &.sm {
        @include actions(768px);
    }

    &.md {
        @include actions(992px);
    }

    &.lg {
        @include actions(1200px);
    }

    // Support for MenuItems
    .blue-menu-item {
        width: auto;

        &.active::after {
            @include blue-menu-item-indicator-horizontal();
        }
    }

    .blue-menu-item-dropdown-toggle .blue-menu-item-label {
        margin-right: 0.5rem;
    }

    .blue-menu-item-label,
    .blue-menu-item-dropdown-caret.blue-caret {
        display: initial;
    }
}

.blue-actions-menu-toggle > span:first-child {
    transform: rotate(90deg);
}

.blue-actions-menu-item {
    display: flex;
    align-items: center;
    color: inherit;
}
