// Collapse with details and animated
// Right now not part of Blue Web, but could become one

.blue-collapse {
    interpolate-size: allow-keywords;

    &:has(summary:focus) {
        overflow: hidden;
    }

    summary {
        list-style: none;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    .blue-collapse-chevron {
        transition: transform 0.2s;
    }

    &[open] > summary > .blue-collapse-header > .blue-collapse-chevron,
    &[open] > summary > .blue-collapse-chevron {
        --blue-collapse-chevron-rotate: 90deg;

        // If chevron is on the end, rotate has to be -90deg
        &:is(:last-child) {
            --blue-collapse-chevron-rotate: -90deg;
        }

        &:is(:first-child) {
            --blue-collapse-chevron-rotate: 90deg;
        }

        transform: rotate(var(--blue-collapse-chevron-rotate));
    }

    &::details-content {
        block-size: 0;
        transition:
            block-size 0.2s,
            content-visibility 0.2s;
        transition-behavior: allow-discrete;
    }

    &[open]::details-content {
        block-size: auto;
    }
}

@media (prefers-reduced-motion) {
    .blue-collapse .blue-collapse-chevron,
    .blue-collapse::details-content {
        transition: none;
    }
}
