// Collapse with details and animated
.blue-collapse {
    interpolate-size: allow-keywords;

    summary {
        list-style: none;
    }

    summary::-webkit-details-marker {
        display: none;
    }

    .blue-collapse-chevron {
        transition: transform 0.2s;
    }

    &[open] > summary > .blue-collapse-header > .blue-collapse-chevron,
    &[open] > summary > .blue-collapse-chevron {
        --blue-collapse-chevron-rotate: 90deg;

        // If chevron is on the end, rotate has to be -90deg
        &:is(:last-child) {
            --blue-collapse-chevron-rotate: -90deg;
        }

        &:is(:first-child) {
            --blue-collapse-chevron-rotate: 90deg;
        }

        transform: rotate(var(--blue-collapse-chevron-rotate));
    }

    &::details-content {
        block-size: 0;
        opacity: 0;
        translate: 0 -4rem;
        transition:
            block-size 0.2s,
            content-visibility 0.2s,
            opacity 0.2s,
            translate 0.2s;
        transition-behavior: allow-discrete;
    }

    &[open]::details-content {
        block-size: auto;
        opacity: 1;
        translate: 0;
    }
}

@media (prefers-reduced-motion) {
    .blue-collapse .blue-collapse-chevron,
    .blue-collapse::details-content {
        transition: none;
    }
}

// Let's you group a collapse together with another UI element like a button that should come before the collapse summary.
.blue-collapse-group {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr;

    & > details {
        display: contents;

        & > summary {
            grid-column: 2;

            & + * {
                width: calc(100% + 1rem - 2px);
            }
        }
    }
}
