/* Make DevExpress components look more like Bootstrap/Blue */
[class^="dxbl-"] {
    --dxbl-text-edit-border-radius: var(--bs-border-radius) !important;
    --dxbl-text-edit-padding-x: 0.75rem !important;
    --dxbl-text-edit-padding-y: 0.375rem !important;
    --dxbl-text-edit-line-height: 1.5 !important;
    --dxbl-text-edit-focus-shadow-spread: 0.25rem !important;
    --dxbl-listbox-border-radius: var(--bs-border-radius) !important;
    --dxbl-toolbar-font-size: var(--bs-body-font-size) !important;
    --dxbl-toolbar-btn-border-radius: var(--bs-border-radius) !important;
    --dxbl-dropdown-border-radius: var(--bs-border-radius) !important;
    --dxbl-btn-border-radius: var(--bs-border-radius) !important;
    --dxbl-context-menu-border-radius: var(--bs-border-radius) !important;
    --dxbl-btn-padding-x: 0.75rem !important;
    --dxbl-btn-padding-y: 0.375rem !important;
}

.dxbl-grid {
    --dxbl-grid-font-size: 1rem;
    border: none;
}

.dxbl-text-edit {
    font-size: 1rem;
}

.dxbl-pager-page-edit {
    min-width: 2.5em;
}

.dxbl-toolbar {
    --dxbl-toolbar-font-size: var(--bs-body-font-size) !important;
    font-size: var(--dxbl-toolbar-font-size);
}

body.modal-open .dxbl-popup-cell[style="z-index: 1050;"] {
    z-index: 1056 !important;
}

@if ($enable-button-pointers: false) {
    .dxbl-context-menu.dxbl-context-menu-dropdown
        > .dxbl-dropdown-body
        ul
        li:not(.dxbl-context-menu-separator)
        > .dxbl-context-menu-item,
    .dxbl-context-menu-submenu.dxbl-context-menu-dropdown
        > .dxbl-dropdown-body
        ul
        li:not(.dxbl-context-menu-separator)
        > .dxbl-context-menu-item {
        cursor: default;
    }
}
