// New approach to use the `Layout` component by using CSS `display: grid`.
// Markup should look something like this:
// ```html
// <div class="blue-layout blue-grid-layout">
//     <header class="blue-grid-layout-header"></header>
//     <nav class="blue-grid-layout-side"></nav>
//     <main class="blue-grid-layout-main"></main>
// </div>
// ```

.blue-grid-layout {
    display: grid;
    grid-template-columns: 0 auto;
    grid-template-rows: $normal-size;
    height: 100vh;
    height: 100dvh;
}

@media (min-width: 600px) {
    .blue-grid-layout {
        grid-template-columns: $normal-size auto;
    }
}

@media (min-width: 1400px) {
    .blue-grid-layout {
        grid-template-columns: var(--blue-sidebar-width) auto;
    }
}

.blue-grid-layout-header {
    grid-column: 1 / 3;
}

.blue-grid-layout-main {
    overflow: auto;
    --bs-bg-opacity: 1;
    background-color: #{rgba(var(--bs-body-bg-rgb), var(--bs-bg-opacity))};
    border-radius: var(--bs-border-radius);
}
