<div class="blue-collapse-group">
    <MenuItem Label="Parent">
        <IconBefore>
            <BiDropletFill />
        </IconBefore>
    </MenuItem>

    <Collapse>
        <MenuItem Label="Child 1" />
        <MenuItem Label="Child 2" />
    </Collapse>
</div>