<div class="blue-collapse-group">
    <MenuItem Label="Separated menu item" />
    <Collapse Label="Click to open" LabelClass="visually-hidden"
        DropdownClass="d-flex flex-column ms-3 border-start position-relative">
        <MenuItem Label="First element" />
        <MenuItem Label="Second element" />
        <div class="blue-collapse-group">
            <MenuItem Label="Separated menu item" />
            <Collapse Label="Click to open" LabelClass="visually-hidden"
                DropdownClass="d-flex flex-column ms-3 border-start position-relative">
                <MenuItem Label="First element" />
                <div class="blue-collapse-group">
                    <MenuItem Label="Separated menu item" />
                    <Collapse Label="Click to open" LabelClass="visually-hidden"
                        DropdownClass="d-flex flex-column ms-3 border-start position-relative">
                        <MenuItem Label="First element" />
                        <MenuItem Label="Second element" />
                        <MenuItem Label="Third element" />
                    </Collapse>
                </div>
                <MenuItem Label="Third element" />
            </Collapse>
        </div>
    </Collapse>
</div>