@media (pointer: fine) and (hover: hover) {
    .blue-layout-side {
        overflow-y: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        mask-image: linear-gradient(to bottom, #000 85%, transparent 100%);
    }

        .blue-layout-side::-webkit-scrollbar {
            width: 0;
            display: none;
        }

        .blue-layout-side:hover {
            scrollbar-width: thin;
            -ms-overflow-style: auto;
            mask-image: none;
        }

            .blue-layout-side:hover::-webkit-scrollbar {
                width: 8px;
                display: block;
            }

            .blue-layout-side:hover::-webkit-scrollbar-track {
                background: transparent;
            }

            .blue-layout-side:hover::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 4px;
            }

                .blue-layout-side:hover::-webkit-scrollbar-thumb:hover {
                    background-color: rgba(0, 0, 0, 0.5);
                }
}
