@using Microsoft.AspNetCore.Components.Rendering
@inject NavigationManager NavigationManager

<div class="docgen container pb-3">
    @ChildContent

    <div style="display: contents">
        <h2 id="examples" class="hide-if-last-child">Examples</h2>
        @ExamplesContent
    </div>

    <div style="display: contents">
        <h2 id="props" class="hide-if-last-child">Props</h2>
        @PropsContent
    </div>

    <Footer />
</div>

<script src="lib/prism.js"></script>

@code {
    [Parameter]
    public string BasePath { get; set; } = "";

    [Parameter]
    public string? Section { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public RenderFragment? PropsContent { get; set; }

    [Parameter]
    public RenderFragment? ExamplesContent { get; set; }
}
