<div class="welcome-jumbotron text-body border-bottom p-5 text-center"
     style="background-image: linear-gradient(128.87deg, hsl(253.49deg 66.27% 50% / 33%) 14.05%, hsl(217.12deg 90.85% 70% / 33%) 89.3%)">
    <div class="display-3 d-inline-flex align-items-center mb-2" style="font-weight: 600">
        <img src="images/blue.svg" alt="Blue logo" style="height: 1em" class="me-3" /> Blue Blazor
    </div>

    <p class="h2">Blazor UI library based on Bootstrap 5</p>
    <div class="h2">
        <BiBootstrap />
        <BiBraces />
        <BiCode />
        <BiWindowSidebar />
        <BiBoxSeam />
    </div>
</div>