<div class="blue-collapse-group">
    <NewMenuItem Label="Parent">
        <IconBefore>
            <BiDropletFill />
        </IconBefore>
    </NewMenuItem>

    <MenuItemCollapse>
        <NewMenuItem Label="Child 1" />
        <NewMenuItem Label="Child 2" />
    </MenuItemCollapse>
</div>