@inherits LayoutComponentBase

<Layout>
    <SideContent>
        <NavMenu />
    </SideContent>
    <PageContent>@Body</PageContent>
</Layout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
