<Intro Title="Login">
    <TextInput Label="Password" Floating Type="password" name="password" Placeholder="Passwort" />

    <div class="text-center mt-3">
        <Button Label="Login" ButtonType="BlueBlazor.Shared.ButtonType.Submit" FilledPrimary Size="BlueBlazor.Shared.Size.Lg" Class="icon-link-hover">
            <IconAfter>
                <BiArrowRight />
            </IconAfter>
        </Button>
    </div>
</Intro>