@{
    /*docs {
    "iframeUrl": "components/action-menu/stories/page-with-action-menu"
    } */
}
@layout EmptyLayout
@page "/components/action-menu/stories/page-with-action-menu"

<Page>
    <Header>
        <HeaderTitle>My page</HeaderTitle>
        <ActionMenu>
            <MenuItem Label="Hello" />
            <MenuItem Label="World" />
            <MenuItem Label="Dropdown" SupportOutside>
                <DropdownContent>
                    <MenuItem Label="Hello" />
                    <MenuItem Label="World" />
                </DropdownContent>
            </MenuItem>
            <MenuItem Label="Another dropdown" SupportOutside>
                <DropdownContent>
                    <MenuItem Label="Even more">
                        <DropdownContent>
                            <MenuItem Label="Hello" />
                            <MenuItem Label="World" />
                        </DropdownContent>
                    </MenuItem>
                    <MenuItem Label="World" />
                </DropdownContent>
            </MenuItem>
        </ActionMenu>
    </Header>
    <Body>
        <h1>Hello World</h1>
    </Body>
</Page>