@using BlueBlazor.Shared

<Offcanvas TitleText="Offcanvas Title" Placement="OffcanvasPlacement.Start">
    <ToggleContent><Button Label="➡️ Show offcanvas from start" /></ToggleContent>
    <BodyContent>
        <p>Offcanvas body content</p>
    </BodyContent>
</Offcanvas>

<Offcanvas TitleText="Offcanvas Title" Placement="OffcanvasPlacement.End">
    <ToggleContent><Button Label="⬅️ Show offcanvas from end" /></ToggleContent>
    <BodyContent>
        <p>Offcanvas body content</p>
    </BodyContent>
</Offcanvas>

<Offcanvas TitleText="Offcanvas Title" Placement="OffcanvasPlacement.Top">
    <ToggleContent><Button Label="⬇️ Show offcanvas from top" /></ToggleContent>
    <BodyContent>
        <p>Offcanvas body content</p>
    </BodyContent>
</Offcanvas>

<Offcanvas TitleText="Offcanvas Title" Placement="OffcanvasPlacement.Bottom">
    <ToggleContent><Button Label="⬆️ Show offcanvas from bottom" /></ToggleContent>
    <BodyContent>
        <p>Offcanvas body content</p>
    </BodyContent>
</Offcanvas>