wa-tooltip:not(:defined) {
    display: none;
}

wa-tooltip {
    color: var(--bs-body-bg, white);
    --wa-tooltip-arrow-size: 0.375rem;
    --wa-tooltip-background-color: var(--bs-emphasis-color, black);
    --wa-tooltip-border-color: var(--bs-emphasis-color, black);
    --wa-tooltip-border-radius: var(--bs-border-radius, 0.25rem);
    --wa-tooltip-border-width: 1px;
    --wa-tooltip-border-style: solid;
}
