<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="BlazorWebAppAutoPerPage.styles.css" />

    <link rel="stylesheet" href="_content/BlueBlazor/css/blue-web.min.css" />
    <link href="themify-theme.css" rel="stylesheet" media="(prefers-color-scheme: light)" />
    <link href="themify-theme-dark.css" rel="stylesheet" media="(prefers-color-scheme: dark)" />
    
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
