@namespace BlueBlazor.Components
@inherits BlueComponentBase

<div @attributes="AdditionalAttributes" role="heading" aria-level="@LevelValue" class="@ClassValue" style="@Style">
    @ChildContent
</div>