@{
    /*docs {
    "iframeUrl": "components/layout/stories/grid-layout",
    "description": "Read more about this on the [Blue Web docs](https://bruegmann.github.io/blue-web/v1/css/Grid%20Layout)."
    } */
}
@layout EmptyLayout
@page "/components/layout/stories/grid-layout"

<Layout Class="blue-grid-layout">
    <header class="blue-grid-layout-header">
        <Header>
            <HeaderTitle>Header</HeaderTitle>
        </Header>
    </header>
    <nav class="blue-grid-layout-side">
        <SidebarMenu>
        </SidebarMenu>
    </nav>
    <main class="blue-grid-layout-main">
        Main content
        <div class="border border-primary mb-3 p-1 text-end">End test</div>

        <button type="button" class="btn blue-btn-soft-secondary" onclick="window.blueWeb.progress.start()">Start process</button>
        <button type="button" class="btn blue-btn-soft-secondary" onclick="window.blueWeb.progress.stop()">Stop process</button>

        <script src="_content/BlueBlazor/blue-web/js/progress.bundle.js"></script>
    </main>
</Layout>